.machine-pin[data-machine="0"]{left:79.866%;top:47.676%}
.machine-pin[data-machine="1"]{left:78.704%;top:47.676%}
.machine-pin[data-machine="2"]{left:81.493%;top:46.126%}
.machine-pin[data-machine="3"]{left:82.655%;top:48.605%}