.machine-pin[data-machine="0"]{left:46.067%;top:28.069%}
.machine-pin[data-machine="1"]{left:43.921%;top:28.069%}
.machine-pin[data-machine="2"]{left:43.921%;top:28.069%}
.machine-pin[data-machine="3"]{left:38.200%;top:30.929%}
.machine-pin[data-machine="4"]{left:43.921%;top:80.513%}
.machine-pin[data-machine="5"]{left:39.630%;top:28.069%}
.machine-pin[data-machine="6"]{left:38.915%;top:23.301%}
.machine-pin[data-machine="7"]{left:48.927%;top:23.301%}
.machine-pin[data-machine="8"]{left:38.915%;top:23.301%}
.machine-pin[data-machine="9"]{left:48.927%;top:23.301%}
.machine-pin[data-machine="10"]{left:48.927%;top:30.929%}
.machine-pin[data-machine="11"]{left:48.927%;top:31.883%}