.machine-pin[data-machine="0"]{left:44.779%;top:51.123%}
.machine-pin[data-machine="1"]{left:52.863%;top:50.674%}
.machine-pin[data-machine="2"]{left:53.537%;top:50.225%}
.machine-pin[data-machine="3"]{left:20.526%;top:48.877%}
.machine-pin[data-machine="4"]{left:20.526%;top:51.572%}
.machine-pin[data-machine="5"]{left:71.053%;top:44.835%}
.machine-pin[data-machine="6"]{left:34.674%;top:55.614%}
.machine-pin[data-machine="7"]{left:14.463%;top:51.123%}
.machine-pin[data-machine="8"]{left:10.421%;top:43.937%}
.machine-pin[data-machine="9"]{left:10.421%;top:56.512%}
.machine-pin[data-machine="10"]{left:86.547%;top:43.937%}
.machine-pin[data-machine="11"]{left:84.526%;top:56.512%}
.machine-pin[data-machine="12"]{left:21.874%;top:57.411%}
.machine-pin[data-machine="13"]{left:21.874%;top:43.039%}
.machine-pin[data-machine="14"]{left:11.768%;top:41.242%}
.machine-pin[data-machine="15"]{left:11.768%;top:59.207%}
.machine-pin[data-machine="16"]{left:83.853%;top:40.793%}
.machine-pin[data-machine="17"]{left:83.853%;top:59.656%}
.machine-pin[data-machine="18"]{left:92.611%;top:43.039%}
.machine-pin[data-machine="19"]{left:88.232%;top:53.818%}
.machine-pin[data-machine="20"]{left:46.800%;top:43.937%}
.machine-pin[data-machine="21"]{left:46.800%;top:56.512%}
.machine-pin[data-machine="22"]{left:52.189%;top:43.937%}
.machine-pin[data-machine="23"]{left:52.189%;top:56.512%}
.machine-pin[data-machine="24"]{left:71.053%;top:44.835%}
.machine-pin[data-machine="25"]{left:34.674%;top:55.614%}
.machine-pin[data-machine="26"]{left:14.463%;top:50.225%}
.machine-pin[data-machine="27"]{left:52.526%;top:50.225%}
.machine-pin[data-machine="28"]{left:50.842%;top:50.225%}