.machine-pin[data-machine="0"]{left:45.631%;top:53.560%}
.machine-pin[data-machine="1"]{left:50.485%;top:50.324%}
.machine-pin[data-machine="2"]{left:50.485%;top:50.324%}
.machine-pin[data-machine="3"]{left:68.449%;top:50.324%}
.machine-pin[data-machine="4"]{left:40.290%;top:32.846%}
.machine-pin[data-machine="5"]{left:40.290%;top:67.801%}
.machine-pin[data-machine="6"]{left:8.248%;top:32.846%}
.machine-pin[data-machine="7"]{left:8.248%;top:67.801%}
.machine-pin[data-machine="8"]{left:25.240%;top:17.310%}
.machine-pin[data-machine="9"]{left:25.240%;top:17.310%}
.machine-pin[data-machine="10"]{left:25.240%;top:82.690%}
.machine-pin[data-machine="11"]{left:25.240%;top:82.690%}
.machine-pin[data-machine="12"]{left:75.246%;top:17.310%}
.machine-pin[data-machine="13"]{left:75.246%;top:17.310%}
.machine-pin[data-machine="14"]{left:75.246%;top:82.690%}
.machine-pin[data-machine="15"]{left:75.246%;top:82.690%}
.machine-pin[data-machine="16"]{left:20.871%;top:35.435%}
.machine-pin[data-machine="17"]{left:20.871%;top:35.435%}
.machine-pin[data-machine="18"]{left:20.871%;top:64.565%}
.machine-pin[data-machine="19"]{left:20.871%;top:64.565%}
.machine-pin[data-machine="20"]{left:79.615%;top:35.435%}
.machine-pin[data-machine="21"]{left:79.615%;top:35.435%}
.machine-pin[data-machine="22"]{left:79.615%;top:64.565%}
.machine-pin[data-machine="23"]{left:79.615%;top:64.565%}
.machine-pin[data-machine="24"]{left:89.810%;top:32.846%}
.machine-pin[data-machine="25"]{left:89.810%;top:32.846%}
.machine-pin[data-machine="26"]{left:89.810%;top:67.154%}
.machine-pin[data-machine="27"]{left:89.810%;top:67.154%}
.machine-pin[data-machine="28"]{left:57.282%;top:18.605%}
.machine-pin[data-machine="29"]{left:57.282%;top:82.042%}
.machine-pin[data-machine="30"]{left:43.689%;top:82.042%}
.machine-pin[data-machine="31"]{left:43.689%;top:18.605%}
.machine-pin[data-machine="32"]{left:69.420%;top:28.962%}
.machine-pin[data-machine="33"]{left:69.420%;top:28.962%}
.machine-pin[data-machine="34"]{left:69.420%;top:71.685%}
.machine-pin[data-machine="35"]{left:69.420%;top:71.685%}
.machine-pin[data-machine="36"]{left:31.551%;top:71.685%}
.machine-pin[data-machine="37"]{left:31.551%;top:71.685%}
.machine-pin[data-machine="38"]{left:31.551%;top:28.962%}
.machine-pin[data-machine="39"]{left:31.551%;top:28.962%}