.machine-pin[data-machine="0"]{left:51.770%;top:36.312%}
.machine-pin[data-machine="1"]{left:58.850%;top:31.592%}
.machine-pin[data-machine="2"]{left:51.770%;top:74.072%}
.machine-pin[data-machine="3"]{left:58.850%;top:69.352%}
.machine-pin[data-machine="4"]{left:49.292%;top:45.280%}
.machine-pin[data-machine="5"]{left:52.124%;top:50.944%}
.machine-pin[data-machine="6"]{left:50.708%;top:35.840%}
.machine-pin[data-machine="7"]{left:50.708%;top:66.048%}
.machine-pin[data-machine="8"]{left:36.548%;top:50.944%}
.machine-pin[data-machine="9"]{left:74.780%;top:11.296%}
.machine-pin[data-machine="10"]{left:74.780%;top:90.592%}
.machine-pin[data-machine="11"]{left:47.876%;top:35.840%}
.machine-pin[data-machine="12"]{left:47.876%;top:66.048%}
.machine-pin[data-machine="13"]{left:74.780%;top:50.944%}
.machine-pin[data-machine="14"]{left:74.780%;top:50.944%}
.machine-pin[data-machine="15"]{left:63.452%;top:20.736%}
.machine-pin[data-machine="16"]{left:63.452%;top:81.152%}
.machine-pin[data-machine="17"]{left:63.452%;top:20.736%}
.machine-pin[data-machine="18"]{left:63.452%;top:81.152%}
.machine-pin[data-machine="19"]{left:64.868%;top:33.952%}
.machine-pin[data-machine="20"]{left:47.876%;top:50.944%}
.machine-pin[data-machine="21"]{left:63.452%;top:50.944%}
.machine-pin[data-machine="22"]{left:73.364%;top:22.624%}
.machine-pin[data-machine="23"]{left:73.364%;top:79.264%}
.machine-pin[data-machine="24"]{left:60.620%;top:66.048%}
.machine-pin[data-machine="25"]{left:60.620%;top:35.840%}