.machine-pin[data-machine="0"]{left:30.459%;top:50.395%}
.machine-pin[data-machine="1"]{left:22.169%;top:50.395%}
.machine-pin[data-machine="2"]{left:19.800%;top:50.395%}
.machine-pin[data-machine="3"]{left:20.984%;top:45.658%}
.machine-pin[data-machine="4"]{left:20.984%;top:55.132%}
.machine-pin[data-machine="5"]{left:41.118%;top:50.395%}
.machine-pin[data-machine="6"]{left:11.510%;top:40.131%}
.machine-pin[data-machine="7"]{left:11.510%;top:60.659%}
.machine-pin[data-machine="8"]{left:69.541%;top:34.604%}
.machine-pin[data-machine="9"]{left:69.541%;top:65.396%}
.machine-pin[data-machine="10"]{left:22.761%;top:56.711%}
.machine-pin[data-machine="11"]{left:23.945%;top:37.762%}
.machine-pin[data-machine="12"]{left:13.286%;top:37.762%}
.machine-pin[data-machine="13"]{left:13.286%;top:63.027%}
.machine-pin[data-machine="14"]{left:56.514%;top:38.552%}
.machine-pin[data-machine="15"]{left:56.514%;top:62.238%}
.machine-pin[data-machine="16"]{left:52.369%;top:36.973%}
.machine-pin[data-machine="17"]{left:52.369%;top:63.817%}
.machine-pin[data-machine="18"]{left:33.420%;top:40.920%}
.machine-pin[data-machine="19"]{left:33.420%;top:59.869%}
.machine-pin[data-machine="20"]{left:47.039%;top:40.920%}
.machine-pin[data-machine="21"]{left:47.039%;top:59.869%}
.machine-pin[data-machine="22"]{left:36.380%;top:50.395%}
.machine-pin[data-machine="23"]{left:25.722%;top:58.290%}
.machine-pin[data-machine="24"]{left:26.314%;top:50.395%}