.machine-pin[data-machine="0"]{left:46.126%;top:50.470%}
.machine-pin[data-machine="1"]{left:42.605%;top:50.470%}
.machine-pin[data-machine="2"]{left:51.056%;top:45.774%}
.machine-pin[data-machine="3"]{left:54.578%;top:53.287%}