.machine-pin[data-machine="0"]{left:36.678%;top:41.308%}
.machine-pin[data-machine="1"]{left:36.111%;top:51.890%}
.machine-pin[data-machine="2"]{left:29.309%;top:50.378%}
.machine-pin[data-machine="3"]{left:37.812%;top:30.726%}
.machine-pin[data-machine="4"]{left:37.812%;top:70.030%}
.machine-pin[data-machine="5"]{left:23.073%;top:51.890%}
.machine-pin[data-machine="6"]{left:20.806%;top:23.168%}
.machine-pin[data-machine="7"]{left:20.806%;top:77.588%}
.machine-pin[data-machine="8"]{left:65.022%;top:29.214%}
.machine-pin[data-machine="9"]{left:65.022%;top:71.542%}
.machine-pin[data-machine="10"]{left:20.806%;top:77.588%}
.machine-pin[data-machine="11"]{left:20.806%;top:23.168%}
.machine-pin[data-machine="12"]{left:31.009%;top:14.853%}
.machine-pin[data-machine="13"]{left:31.009%;top:85.903%}
.machine-pin[data-machine="14"]{left:85.430%;top:20.900%}
.machine-pin[data-machine="15"]{left:85.430%;top:79.856%}
.machine-pin[data-machine="16"]{left:92.800%;top:24.679%}
.machine-pin[data-machine="17"]{left:92.800%;top:76.077%}
.machine-pin[data-machine="18"]{left:36.678%;top:24.679%}
.machine-pin[data-machine="19"]{left:36.678%;top:76.077%}
.machine-pin[data-machine="20"]{left:70.691%;top:29.214%}
.machine-pin[data-machine="21"]{left:70.691%;top:71.542%}
.machine-pin[data-machine="22"]{left:24.207%;top:50.378%}
.machine-pin[data-machine="23"]{left:31.009%;top:45.087%}
.machine-pin[data-machine="24"]{left:31.009%;top:63.227%}
.machine-pin[data-machine="25"]{left:36.678%;top:59.448%}