.machine-pin[data-machine="0"]{left:49.200%;top:50.666%}
.machine-pin[data-machine="1"]{left:51.599%;top:49.067%}
.machine-pin[data-machine="2"]{left:43.402%;top:42.136%}
.machine-pin[data-machine="3"]{left:34.005%;top:42.136%}
.machine-pin[data-machine="4"]{left:43.402%;top:58.131%}
.machine-pin[data-machine="5"]{left:34.005%;top:58.131%}
.machine-pin[data-machine="6"]{left:79.990%;top:44.802%}
.machine-pin[data-machine="7"]{left:59.997%;top:55.465%}
.machine-pin[data-machine="8"]{left:24.808%;top:42.136%}
.machine-pin[data-machine="9"]{left:24.808%;top:58.131%}
.machine-pin[data-machine="10"]{left:10.013%;top:42.136%}
.machine-pin[data-machine="11"]{left:10.013%;top:58.131%}
.machine-pin[data-machine="12"]{left:69.993%;top:45.068%}
.machine-pin[data-machine="13"]{left:69.993%;top:55.198%}
.machine-pin[data-machine="14"]{left:38.004%;top:58.131%}
.machine-pin[data-machine="15"]{left:38.004%;top:42.136%}
.machine-pin[data-machine="16"]{left:9.814%;top:39.470%}
.machine-pin[data-machine="17"]{left:9.814%;top:60.796%}
.machine-pin[data-machine="18"]{left:87.188%;top:42.669%}
.machine-pin[data-machine="19"]{left:87.188%;top:57.597%}
.machine-pin[data-machine="20"]{left:95.985%;top:46.934%}
.machine-pin[data-machine="21"]{left:95.985%;top:53.332%}
.machine-pin[data-machine="22"]{left:17.611%;top:42.136%}
.machine-pin[data-machine="23"]{left:17.611%;top:58.131%}
.machine-pin[data-machine="24"]{left:72.392%;top:42.936%}
.machine-pin[data-machine="25"]{left:72.392%;top:57.331%}
.machine-pin[data-machine="26"]{left:79.990%;top:44.802%}
.machine-pin[data-machine="27"]{left:59.997%;top:55.465%}
.machine-pin[data-machine="28"]{left:24.808%;top:42.136%}
.machine-pin[data-machine="29"]{left:24.808%;top:58.131%}