.machine-pin[data-machine="0"]{left:48.095%;top:59.652%}
.machine-pin[data-machine="1"]{left:40.475%;top:50.508%}
.machine-pin[data-machine="2"]{left:45.809%;top:50.508%}
.machine-pin[data-machine="3"]{left:50.381%;top:50.508%}
.machine-pin[data-machine="4"]{left:54.953%;top:50.508%}
.machine-pin[data-machine="5"]{left:63.336%;top:33.235%}
.machine-pin[data-machine="6"]{left:63.336%;top:33.235%}
.machine-pin[data-machine="7"]{left:32.854%;top:33.235%}
.machine-pin[data-machine="8"]{left:32.854%;top:33.235%}
.machine-pin[data-machine="9"]{left:67.146%;top:66.765%}
.machine-pin[data-machine="10"]{left:67.146%;top:66.765%}
.machine-pin[data-machine="11"]{left:67.146%;top:34.251%}
.machine-pin[data-machine="12"]{left:67.146%;top:34.251%}
.machine-pin[data-machine="13"]{left:63.336%;top:66.765%}
.machine-pin[data-machine="14"]{left:63.336%;top:66.765%}
.machine-pin[data-machine="15"]{left:32.854%;top:66.765%}
.machine-pin[data-machine="16"]{left:32.854%;top:66.765%}
.machine-pin[data-machine="17"]{left:6.945%;top:40.348%}
.machine-pin[data-machine="18"]{left:6.945%;top:40.348%}
.machine-pin[data-machine="19"]{left:6.945%;top:60.669%}
.machine-pin[data-machine="20"]{left:6.945%;top:60.669%}