.machine-pin[data-machine="0"]{left:30.353%;top:84.692%}
.machine-pin[data-machine="1"]{left:30.353%;top:84.692%}
.machine-pin[data-machine="2"]{left:30.353%;top:15.308%}
.machine-pin[data-machine="3"]{left:30.353%;top:15.308%}
.machine-pin[data-machine="4"]{left:48.407%;top:50.708%}
.machine-pin[data-machine="5"]{left:54.779%;top:50.708%}
.machine-pin[data-machine="6"]{left:51.593%;top:59.204%}
.machine-pin[data-machine="7"]{left:74.957%;top:81.860%}
.machine-pin[data-machine="8"]{left:72.833%;top:83.276%}
.machine-pin[data-machine="9"]{left:27.167%;top:81.860%}
.machine-pin[data-machine="10"]{left:26.105%;top:79.028%}
.machine-pin[data-machine="11"]{left:27.167%;top:18.140%}
.machine-pin[data-machine="12"]{left:29.291%;top:16.724%}
.machine-pin[data-machine="13"]{left:74.957%;top:18.140%}
.machine-pin[data-machine="14"]{left:76.019%;top:20.972%}
.machine-pin[data-machine="15"]{left:80.267%;top:50.708%}