.machine-pin[data-machine="0"]{left:45.619%;top:53.569%}
.machine-pin[data-machine="1"]{left:50.487%;top:50.324%}
.machine-pin[data-machine="2"]{left:50.487%;top:50.324%}
.machine-pin[data-machine="3"]{left:68.496%;top:50.324%}
.machine-pin[data-machine="4"]{left:28.583%;top:50.324%}
.machine-pin[data-machine="5"]{left:40.265%;top:32.802%}
.machine-pin[data-machine="6"]{left:40.265%;top:67.847%}
.machine-pin[data-machine="7"]{left:8.140%;top:32.802%}
.machine-pin[data-machine="8"]{left:8.140%;top:67.847%}
.machine-pin[data-machine="9"]{left:25.176%;top:17.226%}
.machine-pin[data-machine="10"]{left:25.176%;top:17.226%}
.machine-pin[data-machine="11"]{left:25.176%;top:82.774%}
.machine-pin[data-machine="12"]{left:25.176%;top:82.774%}
.machine-pin[data-machine="13"]{left:75.311%;top:17.226%}
.machine-pin[data-machine="14"]{left:75.311%;top:17.226%}
.machine-pin[data-machine="15"]{left:75.311%;top:82.774%}
.machine-pin[data-machine="16"]{left:75.311%;top:82.774%}
.machine-pin[data-machine="17"]{left:20.795%;top:35.398%}
.machine-pin[data-machine="18"]{left:20.795%;top:35.398%}
.machine-pin[data-machine="19"]{left:20.795%;top:64.602%}
.machine-pin[data-machine="20"]{left:20.795%;top:64.602%}
.machine-pin[data-machine="21"]{left:79.692%;top:35.398%}
.machine-pin[data-machine="22"]{left:79.692%;top:35.398%}
.machine-pin[data-machine="23"]{left:79.692%;top:64.602%}
.machine-pin[data-machine="24"]{left:79.692%;top:64.602%}
.machine-pin[data-machine="25"]{left:89.913%;top:32.802%}
.machine-pin[data-machine="26"]{left:89.913%;top:32.802%}
.machine-pin[data-machine="27"]{left:89.913%;top:67.198%}
.machine-pin[data-machine="28"]{left:89.913%;top:67.198%}
.machine-pin[data-machine="29"]{left:57.301%;top:18.524%}
.machine-pin[data-machine="30"]{left:57.301%;top:82.125%}
.machine-pin[data-machine="31"]{left:43.672%;top:82.125%}
.machine-pin[data-machine="32"]{left:43.672%;top:18.524%}
.machine-pin[data-machine="33"]{left:78.718%;top:28.908%}
.machine-pin[data-machine="34"]{left:78.718%;top:28.908%}
.machine-pin[data-machine="35"]{left:78.718%;top:71.741%}
.machine-pin[data-machine="36"]{left:78.718%;top:71.741%}
.machine-pin[data-machine="37"]{left:22.255%;top:71.741%}
.machine-pin[data-machine="38"]{left:22.255%;top:71.741%}
.machine-pin[data-machine="39"]{left:22.255%;top:28.908%}
.machine-pin[data-machine="40"]{left:22.255%;top:28.908%}