.machine-pin[data-machine="0"]{left:75.039%;top:55.101%}
.machine-pin[data-machine="1"]{left:73.880%;top:55.101%}
.machine-pin[data-machine="2"]{left:76.662%;top:53.555%}
.machine-pin[data-machine="3"]{left:77.821%;top:56.028%}