.machine-pin[data-machine="0"]{left:28.546%;top:50.367%}
.machine-pin[data-machine="1"]{left:20.844%;top:50.367%}
.machine-pin[data-machine="2"]{left:18.644%;top:50.367%}
.machine-pin[data-machine="3"]{left:19.744%;top:45.966%}
.machine-pin[data-machine="4"]{left:19.744%;top:54.768%}
.machine-pin[data-machine="5"]{left:38.448%;top:50.367%}
.machine-pin[data-machine="6"]{left:10.942%;top:40.831%}
.machine-pin[data-machine="7"]{left:10.942%;top:59.902%}
.machine-pin[data-machine="8"]{left:61.002%;top:29.829%}
.machine-pin[data-machine="9"]{left:61.002%;top:70.171%}
.machine-pin[data-machine="10"]{left:21.394%;top:56.235%}
.machine-pin[data-machine="11"]{left:22.494%;top:38.631%}
.machine-pin[data-machine="12"]{left:12.592%;top:38.631%}
.machine-pin[data-machine="13"]{left:12.592%;top:62.102%}
.machine-pin[data-machine="14"]{left:52.751%;top:39.365%}
.machine-pin[data-machine="15"]{left:52.751%;top:61.369%}
.machine-pin[data-machine="16"]{left:48.900%;top:37.898%}
.machine-pin[data-machine="17"]{left:48.900%;top:62.836%}
.machine-pin[data-machine="18"]{left:31.296%;top:41.565%}
.machine-pin[data-machine="19"]{left:31.296%;top:59.169%}
.machine-pin[data-machine="20"]{left:43.949%;top:41.565%}
.machine-pin[data-machine="21"]{left:43.949%;top:59.169%}
.machine-pin[data-machine="22"]{left:60.452%;top:34.964%}
.machine-pin[data-machine="23"]{left:57.702%;top:34.964%}
.machine-pin[data-machine="24"]{left:57.702%;top:34.964%}
.machine-pin[data-machine="25"]{left:60.452%;top:65.770%}
.machine-pin[data-machine="26"]{left:57.702%;top:65.770%}
.machine-pin[data-machine="27"]{left:57.702%;top:65.770%}
.machine-pin[data-machine="28"]{left:34.047%;top:50.367%}
.machine-pin[data-machine="29"]{left:24.145%;top:57.702%}
.machine-pin[data-machine="30"]{left:24.695%;top:50.367%}