.machine-pin[data-machine="0"]{left:44.459%;top:50.246%}
.machine-pin[data-machine="1"]{left:42.612%;top:50.246%}
.machine-pin[data-machine="2"]{left:46.675%;top:47.784%}
.machine-pin[data-machine="3"]{left:48.522%;top:51.724%}