.machine-pin[data-machine="0"]{left:42.276%;top:50.552%}
.machine-pin[data-machine="1"]{left:31.517%;top:50.552%}
.machine-pin[data-machine="2"]{left:47.241%;top:50.184%}
.machine-pin[data-machine="3"]{left:28.206%;top:47.241%}
.machine-pin[data-machine="4"]{left:28.206%;top:53.127%}
.machine-pin[data-machine="5"]{left:50.276%;top:50.920%}
.machine-pin[data-machine="6"]{left:9.723%;top:45.770%}
.machine-pin[data-machine="7"]{left:9.723%;top:54.598%}
.machine-pin[data-machine="8"]{left:64.345%;top:45.402%}
.machine-pin[data-machine="9"]{left:64.345%;top:54.966%}
.machine-pin[data-machine="10"]{left:23.516%;top:54.598%}
.machine-pin[data-machine="11"]{left:23.516%;top:45.770%}
.machine-pin[data-machine="12"]{left:17.723%;top:46.873%}
.machine-pin[data-machine="13"]{left:17.723%;top:53.494%}
.machine-pin[data-machine="14"]{left:79.794%;top:44.299%}
.machine-pin[data-machine="15"]{left:79.794%;top:56.069%}
.machine-pin[data-machine="16"]{left:95.795%;top:45.402%}
.machine-pin[data-machine="17"]{left:95.795%;top:54.966%}
.machine-pin[data-machine="18"]{left:39.517%;top:46.138%}
.machine-pin[data-machine="19"]{left:39.517%;top:54.230%}
.machine-pin[data-machine="20"]{left:54.414%;top:45.034%}
.machine-pin[data-machine="21"]{left:54.414%;top:55.334%}
.machine-pin[data-machine="22"]{left:51.103%;top:50.184%}