.machine-pin[data-machine="0"]{left:16.403%;top:46.524%}
.machine-pin[data-machine="1"]{left:50.074%;top:50.099%}
.machine-pin[data-machine="2"]{left:15.509%;top:57.648%}
.machine-pin[data-machine="3"]{left:20.575%;top:47.318%}
.machine-pin[data-machine="4"]{left:20.575%;top:52.880%}
.machine-pin[data-machine="5"]{left:38.304%;top:50.099%}
.machine-pin[data-machine="6"]{left:14.019%;top:44.934%}
.machine-pin[data-machine="7"]{left:43.668%;top:50.894%}
.machine-pin[data-machine="8"]{left:88.811%;top:59.833%}
.machine-pin[data-machine="9"]{left:14.019%;top:55.264%}
.machine-pin[data-machine="10"]{left:52.607%;top:50.894%}
.machine-pin[data-machine="11"]{left:12.827%;top:47.914%}
.machine-pin[data-machine="12"]{left:8.656%;top:39.769%}
.machine-pin[data-machine="13"]{left:8.656%;top:60.429%}
.machine-pin[data-machine="14"]{left:80.766%;top:37.783%}
.machine-pin[data-machine="15"]{left:80.766%;top:62.416%}
.machine-pin[data-machine="16"]{left:17.893%;top:62.416%}
.machine-pin[data-machine="17"]{left:17.893%;top:37.783%}
.machine-pin[data-machine="18"]{left:6.570%;top:35.995%}
.machine-pin[data-machine="19"]{left:6.570%;top:64.204%}
.machine-pin[data-machine="20"]{left:91.791%;top:36.790%}
.machine-pin[data-machine="21"]{left:91.791%;top:63.409%}
.machine-pin[data-machine="22"]{left:96.112%;top:40.564%}
.machine-pin[data-machine="23"]{left:96.112%;top:59.635%}
.machine-pin[data-machine="24"]{left:7.464%;top:39.372%}
.machine-pin[data-machine="25"]{left:7.464%;top:60.826%}
.machine-pin[data-machine="26"]{left:92.089%;top:40.564%}
.machine-pin[data-machine="27"]{left:92.089%;top:59.635%}
.machine-pin[data-machine="28"]{left:88.811%;top:59.635%}
.machine-pin[data-machine="29"]{left:12.827%;top:47.716%}
.machine-pin[data-machine="30"]{left:14.913%;top:47.517%}
.machine-pin[data-machine="31"]{left:14.913%;top:54.668%}
.machine-pin[data-machine="32"]{left:16.403%;top:53.675%}
.machine-pin[data-machine="33"]{left:26.385%;top:44.537%}
.machine-pin[data-machine="34"]{left:26.385%;top:44.537%}
.machine-pin[data-machine="35"]{left:26.385%;top:44.537%}
.machine-pin[data-machine="36"]{left:26.385%;top:44.537%}
.machine-pin[data-machine="37"]{left:28.620%;top:44.537%}
.machine-pin[data-machine="38"]{left:28.620%;top:44.537%}
.machine-pin[data-machine="39"]{left:28.620%;top:44.537%}
.machine-pin[data-machine="40"]{left:28.620%;top:44.537%}
.machine-pin[data-machine="41"]{left:30.855%;top:44.537%}
.machine-pin[data-machine="42"]{left:30.855%;top:44.537%}
.machine-pin[data-machine="43"]{left:30.855%;top:44.537%}
.machine-pin[data-machine="44"]{left:30.855%;top:44.537%}
.machine-pin[data-machine="45"]{left:26.385%;top:55.662%}
.machine-pin[data-machine="46"]{left:26.385%;top:55.662%}
.machine-pin[data-machine="47"]{left:26.385%;top:55.662%}
.machine-pin[data-machine="48"]{left:26.385%;top:55.662%}
.machine-pin[data-machine="49"]{left:28.620%;top:55.662%}
.machine-pin[data-machine="50"]{left:28.620%;top:55.662%}
.machine-pin[data-machine="51"]{left:28.620%;top:55.662%}
.machine-pin[data-machine="52"]{left:28.620%;top:55.662%}
.machine-pin[data-machine="53"]{left:30.855%;top:55.662%}
.machine-pin[data-machine="54"]{left:30.855%;top:55.662%}
.machine-pin[data-machine="55"]{left:30.855%;top:55.662%}
.machine-pin[data-machine="56"]{left:30.855%;top:55.662%}
.machine-pin[data-machine="57"]{left:40.688%;top:44.537%}
.machine-pin[data-machine="58"]{left:40.688%;top:44.537%}
.machine-pin[data-machine="59"]{left:42.923%;top:44.537%}
.machine-pin[data-machine="60"]{left:42.923%;top:44.537%}
.machine-pin[data-machine="61"]{left:45.158%;top:44.537%}
.machine-pin[data-machine="62"]{left:45.158%;top:44.537%}
.machine-pin[data-machine="63"]{left:40.688%;top:55.662%}
.machine-pin[data-machine="64"]{left:40.688%;top:55.662%}
.machine-pin[data-machine="65"]{left:42.923%;top:55.662%}
.machine-pin[data-machine="66"]{left:42.923%;top:55.662%}
.machine-pin[data-machine="67"]{left:45.158%;top:55.662%}
.machine-pin[data-machine="68"]{left:45.158%;top:55.662%}
.machine-pin[data-machine="69"]{left:69.294%;top:44.537%}
.machine-pin[data-machine="70"]{left:69.294%;top:44.537%}
.machine-pin[data-machine="71"]{left:71.529%;top:44.537%}
.machine-pin[data-machine="72"]{left:71.529%;top:44.537%}
.machine-pin[data-machine="73"]{left:73.764%;top:44.537%}
.machine-pin[data-machine="74"]{left:73.764%;top:44.537%}
.machine-pin[data-machine="75"]{left:69.294%;top:55.662%}
.machine-pin[data-machine="76"]{left:69.294%;top:55.662%}
.machine-pin[data-machine="77"]{left:71.529%;top:55.662%}
.machine-pin[data-machine="78"]{left:71.529%;top:55.662%}
.machine-pin[data-machine="79"]{left:73.764%;top:55.662%}
.machine-pin[data-machine="80"]{left:73.764%;top:55.662%}