.machine-pin[data-machine="0"]{left:46.340%;top:53.416%}
.machine-pin[data-machine="1"]{left:50.732%;top:50.488%}
.machine-pin[data-machine="2"]{left:50.732%;top:50.488%}
.machine-pin[data-machine="3"]{left:68.301%;top:50.488%}
.machine-pin[data-machine="4"]{left:27.307%;top:50.488%}
.machine-pin[data-machine="5"]{left:40.484%;top:33.895%}
.machine-pin[data-machine="6"]{left:40.484%;top:67.081%}
.machine-pin[data-machine="7"]{left:10.470%;top:33.895%}
.machine-pin[data-machine="8"]{left:10.470%;top:67.081%}
.machine-pin[data-machine="9"]{left:25.843%;top:19.254%}
.machine-pin[data-machine="10"]{left:25.843%;top:19.254%}
.machine-pin[data-machine="11"]{left:25.843%;top:80.746%}
.machine-pin[data-machine="12"]{left:25.843%;top:80.746%}
.machine-pin[data-machine="13"]{left:74.889%;top:19.254%}
.machine-pin[data-machine="14"]{left:74.889%;top:19.254%}
.machine-pin[data-machine="15"]{left:74.889%;top:80.746%}
.machine-pin[data-machine="16"]{left:74.889%;top:80.746%}
.machine-pin[data-machine="17"]{left:21.451%;top:35.847%}
.machine-pin[data-machine="18"]{left:21.451%;top:35.847%}
.machine-pin[data-machine="19"]{left:21.451%;top:64.153%}
.machine-pin[data-machine="20"]{left:21.451%;top:64.153%}
.machine-pin[data-machine="21"]{left:79.281%;top:35.847%}
.machine-pin[data-machine="22"]{left:79.281%;top:35.847%}
.machine-pin[data-machine="23"]{left:79.281%;top:64.153%}
.machine-pin[data-machine="24"]{left:79.281%;top:64.153%}
.machine-pin[data-machine="25"]{left:88.798%;top:33.895%}
.machine-pin[data-machine="26"]{left:88.798%;top:33.895%}
.machine-pin[data-machine="27"]{left:88.798%;top:66.105%}
.machine-pin[data-machine="28"]{left:88.798%;top:66.105%}