.machine-pin[data-machine="0"]{left:81.097%;top:53.587%}
.machine-pin[data-machine="1"]{left:80.021%;top:53.587%}
.machine-pin[data-machine="2"]{left:82.604%;top:52.152%}
.machine-pin[data-machine="3"]{left:83.680%;top:54.448%}