.machine-pin[data-machine="0"]{left:46.455%;top:52.626%}
.machine-pin[data-machine="1"]{left:51.182%;top:49.475%}
.machine-pin[data-machine="2"]{left:51.576%;top:50.000%}
.machine-pin[data-machine="3"]{left:67.333%;top:50.000%}
.machine-pin[data-machine="4"]{left:42.121%;top:33.192%}
.machine-pin[data-machine="5"]{left:42.121%;top:66.808%}
.machine-pin[data-machine="6"]{left:18.485%;top:33.192%}
.machine-pin[data-machine="7"]{left:18.485%;top:66.808%}
.machine-pin[data-machine="8"]{left:27.940%;top:18.485%}
.machine-pin[data-machine="9"]{left:27.940%;top:18.485%}
.machine-pin[data-machine="10"]{left:27.940%;top:79.414%}
.machine-pin[data-machine="11"]{left:27.940%;top:79.414%}
.machine-pin[data-machine="12"]{left:73.636%;top:18.485%}
.machine-pin[data-machine="13"]{left:73.636%;top:18.485%}
.machine-pin[data-machine="14"]{left:73.636%;top:79.414%}
.machine-pin[data-machine="15"]{left:73.636%;top:79.414%}
.machine-pin[data-machine="16"]{left:23.212%;top:35.293%}
.machine-pin[data-machine="17"]{left:23.212%;top:35.293%}
.machine-pin[data-machine="18"]{left:23.212%;top:62.606%}
.machine-pin[data-machine="19"]{left:23.212%;top:62.606%}
.machine-pin[data-machine="20"]{left:78.363%;top:35.293%}
.machine-pin[data-machine="21"]{left:78.363%;top:35.293%}
.machine-pin[data-machine="22"]{left:78.363%;top:62.606%}
.machine-pin[data-machine="23"]{left:78.363%;top:62.606%}
.machine-pin[data-machine="24"]{left:86.242%;top:31.091%}
.machine-pin[data-machine="25"]{left:86.242%;top:31.091%}
.machine-pin[data-machine="26"]{left:86.242%;top:66.808%}
.machine-pin[data-machine="27"]{left:86.242%;top:66.808%}