.machine-pin[data-machine="0"]{left:48.257%;top:40.524%}
.machine-pin[data-machine="1"]{left:47.899%;top:40.524%}
.machine-pin[data-machine="2"]{left:52.548%;top:40.524%}
.machine-pin[data-machine="3"]{left:52.190%;top:40.524%}
.machine-pin[data-machine="4"]{left:50.045%;top:39.332%}
.machine-pin[data-machine="5"]{left:50.045%;top:40.524%}
.machine-pin[data-machine="6"]{left:36.546%;top:53.516%}
.machine-pin[data-machine="7"]{left:36.546%;top:65.435%}
.machine-pin[data-machine="8"]{left:36.546%;top:77.354%}
.machine-pin[data-machine="9"]{left:7.941%;top:53.516%}
.machine-pin[data-machine="10"]{left:7.941%;top:65.435%}
.machine-pin[data-machine="11"]{left:7.941%;top:77.354%}
.machine-pin[data-machine="12"]{left:63.364%;top:53.516%}
.machine-pin[data-machine="13"]{left:63.364%;top:65.435%}
.machine-pin[data-machine="14"]{left:63.364%;top:77.354%}
.machine-pin[data-machine="15"]{left:91.970%;top:53.516%}
.machine-pin[data-machine="16"]{left:91.970%;top:65.435%}
.machine-pin[data-machine="17"]{left:91.970%;top:77.354%}
.machine-pin[data-machine="18"]{left:47.095%;top:41.478%}
.machine-pin[data-machine="19"]{left:48.257%;top:41.478%}
.machine-pin[data-machine="20"]{left:51.117%;top:41.478%}
.machine-pin[data-machine="21"]{left:52.905%;top:41.478%}
.machine-pin[data-machine="22"]{left:48.972%;top:38.141%}