.machine-pin[data-machine="0"]{left:24.512%;top:50.539%}
.machine-pin[data-machine="1"]{left:21.275%;top:50.539%}
.machine-pin[data-machine="2"]{left:50.405%;top:50.539%}
.machine-pin[data-machine="3"]{left:78.725%;top:50.539%}
.machine-pin[data-machine="4"]{left:27.748%;top:50.539%}
.machine-pin[data-machine="5"]{left:71.443%;top:48.382%}
.machine-pin[data-machine="6"]{left:71.443%;top:52.697%}
.machine-pin[data-machine="7"]{left:66.588%;top:50.539%}
.machine-pin[data-machine="8"]{left:43.122%;top:38.672%}
.machine-pin[data-machine="9"]{left:43.122%;top:34.356%}
.machine-pin[data-machine="10"]{left:43.122%;top:62.407%}
.machine-pin[data-machine="11"]{left:43.122%;top:66.722%}
.machine-pin[data-machine="12"]{left:57.687%;top:38.672%}
.machine-pin[data-machine="13"]{left:57.687%;top:34.356%}
.machine-pin[data-machine="14"]{left:57.687%;top:62.407%}
.machine-pin[data-machine="15"]{left:57.687%;top:66.722%}