.machine-pin[data-machine="0"]{left:45.985%;top:39.295%}
.machine-pin[data-machine="1"]{left:18.517%;top:37.604%}
.machine-pin[data-machine="2"]{left:15.559%;top:38.731%}
.machine-pin[data-machine="3"]{left:26.547%;top:34.787%}
.machine-pin[data-machine="4"]{left:56.973%;top:34.787%}
.machine-pin[data-machine="5"]{left:83.173%;top:38.731%}
.machine-pin[data-machine="6"]{left:10.488%;top:37.604%}
.machine-pin[data-machine="7"]{left:10.488%;top:37.604%}
.machine-pin[data-machine="8"]{left:75.566%;top:33.660%}
.machine-pin[data-machine="9"]{left:81.060%;top:65.777%}
.machine-pin[data-machine="10"]{left:19.363%;top:65.777%}
.machine-pin[data-machine="11"]{left:10.488%;top:33.660%}
.machine-pin[data-machine="12"]{left:11.756%;top:30.279%}
.machine-pin[data-machine="13"]{left:14.714%;top:46.056%}
.machine-pin[data-machine="14"]{left:89.934%;top:31.406%}
.machine-pin[data-machine="15"]{left:92.892%;top:44.929%}
.machine-pin[data-machine="16"]{left:95.850%;top:34.223%}
.machine-pin[data-machine="17"]{left:95.850%;top:41.548%}
.machine-pin[data-machine="18"]{left:40.069%;top:30.843%}
.machine-pin[data-machine="19"]{left:40.069%;top:46.056%}
.machine-pin[data-machine="20"]{left:61.199%;top:30.843%}
.machine-pin[data-machine="21"]{left:61.199%;top:46.056%}
.machine-pin[data-machine="22"]{left:88.244%;top:38.731%}