.machine-pin[data-machine="0"]{left:51.323%;top:50.252%}
.machine-pin[data-machine="1"]{left:60.393%;top:50.756%}
.machine-pin[data-machine="2"]{left:56.614%;top:50.252%}
.machine-pin[data-machine="3"]{left:33.560%;top:47.229%}
.machine-pin[data-machine="4"]{left:43.008%;top:38.158%}
.machine-pin[data-machine="5"]{left:33.560%;top:53.275%}
.machine-pin[data-machine="6"]{left:43.008%;top:62.345%}
.machine-pin[data-machine="7"]{left:12.019%;top:40.174%}
.machine-pin[data-machine="8"]{left:12.019%;top:60.330%}
.machine-pin[data-machine="9"]{left:78.533%;top:47.229%}
.machine-pin[data-machine="10"]{left:78.533%;top:53.275%}
.machine-pin[data-machine="11"]{left:18.066%;top:60.330%}
.machine-pin[data-machine="12"]{left:18.066%;top:40.174%}
.machine-pin[data-machine="13"]{left:19.577%;top:36.647%}
.machine-pin[data-machine="14"]{left:19.577%;top:63.857%}
.machine-pin[data-machine="15"]{left:71.731%;top:45.717%}
.machine-pin[data-machine="16"]{left:71.731%;top:54.787%}
.machine-pin[data-machine="17"]{left:94.406%;top:48.236%}
.machine-pin[data-machine="18"]{left:94.406%;top:52.268%}
.machine-pin[data-machine="19"]{left:37.718%;top:46.221%}
.machine-pin[data-machine="20"]{left:37.718%;top:54.283%}
.machine-pin[data-machine="21"]{left:73.242%;top:46.725%}
.machine-pin[data-machine="22"]{left:73.242%;top:53.779%}
.machine-pin[data-machine="23"]{left:44.520%;top:38.158%}
.machine-pin[data-machine="24"]{left:44.520%;top:62.345%}
.machine-pin[data-machine="25"]{left:47.544%;top:52.771%}
.machine-pin[data-machine="26"]{left:59.637%;top:42.694%}
.machine-pin[data-machine="27"]{left:59.637%;top:38.158%}
.machine-pin[data-machine="28"]{left:67.195%;top:42.694%}
.machine-pin[data-machine="29"]{left:67.195%;top:38.158%}
.machine-pin[data-machine="30"]{left:77.777%;top:42.694%}
.machine-pin[data-machine="31"]{left:77.777%;top:38.158%}
.machine-pin[data-machine="32"]{left:85.336%;top:42.694%}
.machine-pin[data-machine="33"]{left:85.336%;top:38.158%}
.machine-pin[data-machine="34"]{left:59.637%;top:57.306%}
.machine-pin[data-machine="35"]{left:59.637%;top:62.345%}
.machine-pin[data-machine="36"]{left:67.195%;top:57.306%}
.machine-pin[data-machine="37"]{left:67.195%;top:62.345%}
.machine-pin[data-machine="38"]{left:77.777%;top:57.306%}
.machine-pin[data-machine="39"]{left:77.777%;top:62.345%}
.machine-pin[data-machine="40"]{left:85.336%;top:57.306%}
.machine-pin[data-machine="41"]{left:85.336%;top:62.345%}