.machine-pin[data-machine="0"]{left:76.984%;top:46.768%}
.machine-pin[data-machine="1"]{left:75.930%;top:46.768%}
.machine-pin[data-machine="2"]{left:78.460%;top:45.362%}
.machine-pin[data-machine="3"]{left:79.514%;top:47.611%}