.machine-pin[data-machine="0"]{left:11.388%;top:50.500%}
.machine-pin[data-machine="1"]{left:8.389%;top:50.500%}
.machine-pin[data-machine="2"]{left:50.375%;top:50.500%}
.machine-pin[data-machine="3"]{left:91.611%;top:50.500%}
.machine-pin[data-machine="4"]{left:14.387%;top:50.500%}
.machine-pin[data-machine="5"]{left:84.863%;top:48.501%}
.machine-pin[data-machine="6"]{left:84.863%;top:52.499%}
.machine-pin[data-machine="7"]{left:80.365%;top:50.500%}
.machine-pin[data-machine="8"]{left:4.640%;top:50.500%}
.machine-pin[data-machine="9"]{left:94.610%;top:46.501%}
.machine-pin[data-machine="10"]{left:94.610%;top:53.499%}
.machine-pin[data-machine="11"]{left:6.140%;top:46.501%}
.machine-pin[data-machine="12"]{left:6.140%;top:53.499%}
.machine-pin[data-machine="13"]{left:95.360%;top:48.501%}
.machine-pin[data-machine="14"]{left:95.360%;top:52.499%}
.machine-pin[data-machine="15"]{left:50.375%;top:46.501%}
.machine-pin[data-machine="16"]{left:50.375%;top:53.499%}
.machine-pin[data-machine="17"]{left:50.375%;top:46.501%}
.machine-pin[data-machine="18"]{left:50.375%;top:53.499%}
.machine-pin[data-machine="19"]{left:30.132%;top:39.504%}
.machine-pin[data-machine="20"]{left:30.132%;top:35.505%}
.machine-pin[data-machine="21"]{left:30.132%;top:61.496%}
.machine-pin[data-machine="22"]{left:30.132%;top:65.495%}
.machine-pin[data-machine="23"]{left:43.627%;top:39.504%}
.machine-pin[data-machine="24"]{left:43.627%;top:35.505%}
.machine-pin[data-machine="25"]{left:43.627%;top:61.496%}
.machine-pin[data-machine="26"]{left:43.627%;top:65.495%}
.machine-pin[data-machine="27"]{left:57.123%;top:39.504%}
.machine-pin[data-machine="28"]{left:57.123%;top:35.505%}
.machine-pin[data-machine="29"]{left:57.123%;top:61.496%}
.machine-pin[data-machine="30"]{left:57.123%;top:65.495%}
.machine-pin[data-machine="31"]{left:70.618%;top:39.504%}
.machine-pin[data-machine="32"]{left:70.618%;top:35.505%}
.machine-pin[data-machine="33"]{left:70.618%;top:61.496%}
.machine-pin[data-machine="34"]{left:70.618%;top:65.495%}