.machine-pin[data-machine="0"]{left:50.354%;top:50.094%}
.machine-pin[data-machine="1"]{left:50.071%;top:50.094%}
.machine-pin[data-machine="2"]{left:50.920%;top:50.094%}
.machine-pin[data-machine="3"]{left:50.071%;top:50.094%}
.machine-pin[data-machine="4"]{left:73.435%;top:81.247%}
.machine-pin[data-machine="5"]{left:83.630%;top:50.283%}
.machine-pin[data-machine="6"]{left:26.565%;top:81.247%}
.machine-pin[data-machine="7"]{left:49.788%;top:94.840%}
.machine-pin[data-machine="8"]{left:26.565%;top:18.753%}
.machine-pin[data-machine="9"]{left:16.370%;top:49.717%}
.machine-pin[data-machine="10"]{left:73.435%;top:18.753%}
.machine-pin[data-machine="11"]{left:50.212%;top:5.160%}