.machine-pin[data-machine="0"]{left:78.992%;top:55.382%}
.machine-pin[data-machine="1"]{left:77.768%;top:55.382%}
.machine-pin[data-machine="2"]{left:80.704%;top:53.751%}
.machine-pin[data-machine="3"]{left:81.927%;top:56.361%}