.machine-pin[data-machine="0"]{left:44.779%;top:52.695%}
.machine-pin[data-machine="1"]{left:52.863%;top:52.246%}
.machine-pin[data-machine="2"]{left:53.537%;top:51.796%}
.machine-pin[data-machine="3"]{left:20.526%;top:50.449%}
.machine-pin[data-machine="4"]{left:20.526%;top:53.144%}
.machine-pin[data-machine="5"]{left:71.053%;top:46.407%}
.machine-pin[data-machine="6"]{left:34.674%;top:57.186%}
.machine-pin[data-machine="7"]{left:14.463%;top:52.695%}
.machine-pin[data-machine="8"]{left:10.421%;top:45.509%}
.machine-pin[data-machine="9"]{left:10.421%;top:58.084%}
.machine-pin[data-machine="10"]{left:75.095%;top:39.221%}
.machine-pin[data-machine="11"]{left:75.095%;top:58.533%}
.machine-pin[data-machine="12"]{left:25.579%;top:60.330%}
.machine-pin[data-machine="13"]{left:25.242%;top:47.305%}
.machine-pin[data-machine="14"]{left:11.768%;top:42.814%}
.machine-pin[data-machine="15"]{left:11.768%;top:60.779%}
.machine-pin[data-machine="16"]{left:83.853%;top:42.365%}
.machine-pin[data-machine="17"]{left:83.853%;top:61.228%}
.machine-pin[data-machine="18"]{left:92.611%;top:44.611%}
.machine-pin[data-machine="19"]{left:88.232%;top:55.389%}
.machine-pin[data-machine="20"]{left:46.800%;top:45.509%}
.machine-pin[data-machine="21"]{left:46.800%;top:58.084%}
.machine-pin[data-machine="22"]{left:52.189%;top:45.509%}
.machine-pin[data-machine="23"]{left:52.189%;top:58.084%}
.machine-pin[data-machine="24"]{left:71.053%;top:46.407%}
.machine-pin[data-machine="25"]{left:34.674%;top:57.186%}
.machine-pin[data-machine="26"]{left:14.463%;top:51.796%}
.machine-pin[data-machine="27"]{left:52.526%;top:51.796%}
.machine-pin[data-machine="28"]{left:50.842%;top:51.796%}