.machine-pin[data-machine="0"]{left:46.936%;top:50.371%}
.machine-pin[data-machine="1"]{left:44.150%;top:50.371%}
.machine-pin[data-machine="2"]{left:50.836%;top:46.657%}
.machine-pin[data-machine="3"]{left:53.621%;top:52.600%}