.machine-pin[data-machine="0"]{left:30.120%;top:50.390%}
.machine-pin[data-machine="1"]{left:21.934%;top:50.390%}
.machine-pin[data-machine="2"]{left:19.595%;top:50.390%}
.machine-pin[data-machine="3"]{left:20.765%;top:45.712%}
.machine-pin[data-machine="4"]{left:20.765%;top:55.067%}
.machine-pin[data-machine="5"]{left:40.645%;top:50.390%}
.machine-pin[data-machine="6"]{left:11.409%;top:40.255%}
.machine-pin[data-machine="7"]{left:11.409%;top:60.525%}
.machine-pin[data-machine="8"]{left:71.634%;top:35.577%}
.machine-pin[data-machine="9"]{left:71.634%;top:64.423%}
.machine-pin[data-machine="10"]{left:23.688%;top:62.084%}
.machine-pin[data-machine="11"]{left:23.688%;top:37.916%}
.machine-pin[data-machine="12"]{left:13.163%;top:37.916%}
.machine-pin[data-machine="13"]{left:13.163%;top:62.864%}
.machine-pin[data-machine="14"]{left:55.847%;top:38.696%}
.machine-pin[data-machine="15"]{left:55.847%;top:62.084%}
.machine-pin[data-machine="16"]{left:51.754%;top:37.136%}
.machine-pin[data-machine="17"]{left:51.754%;top:63.643%}
.machine-pin[data-machine="18"]{left:33.043%;top:41.034%}
.machine-pin[data-machine="19"]{left:33.043%;top:59.745%}
.machine-pin[data-machine="20"]{left:46.492%;top:41.034%}
.machine-pin[data-machine="21"]{left:46.492%;top:59.745%}
.machine-pin[data-machine="22"]{left:35.967%;top:50.390%}
.machine-pin[data-machine="23"]{left:25.442%;top:58.186%}
.machine-pin[data-machine="24"]{left:85.667%;top:50.390%}
.machine-pin[data-machine="25"]{left:27.196%;top:50.390%}