.machine-pin[data-machine="0"]{left:7.712%;top:70.229%}
.machine-pin[data-machine="1"]{left:11.586%;top:67.647%}
.machine-pin[data-machine="2"]{left:10.617%;top:50.861%}
.machine-pin[data-machine="3"]{left:15.782%;top:50.861%}
.machine-pin[data-machine="4"]{left:18.365%;top:30.201%}
.machine-pin[data-machine="5"]{left:18.365%;top:71.521%}
.machine-pin[data-machine="6"]{left:9.326%;top:30.201%}
.machine-pin[data-machine="7"]{left:9.326%;top:71.521%}
.machine-pin[data-machine="8"]{left:89.383%;top:25.036%}
.machine-pin[data-machine="9"]{left:89.383%;top:74.964%}
.machine-pin[data-machine="10"]{left:11.909%;top:25.036%}
.machine-pin[data-machine="11"]{left:11.909%;top:74.964%}
.machine-pin[data-machine="12"]{left:94.548%;top:31.923%}
.machine-pin[data-machine="13"]{left:94.548%;top:69.799%}
.machine-pin[data-machine="14"]{left:70.014%;top:30.201%}
.machine-pin[data-machine="15"]{left:70.014%;top:71.521%}
.machine-pin[data-machine="16"]{left:70.014%;top:30.201%}
.machine-pin[data-machine="17"]{left:70.014%;top:71.521%}
.machine-pin[data-machine="18"]{left:5.452%;top:50.861%}
.machine-pin[data-machine="19"]{left:29.986%;top:50.861%}
.machine-pin[data-machine="20"]{left:18.365%;top:50.861%}
.machine-pin[data-machine="21"]{left:37.733%;top:33.644%}
.machine-pin[data-machine="22"]{left:37.733%;top:68.077%}