.machine-pin[data-machine="0"]{left:76.058%;top:47.792%}
.machine-pin[data-machine="1"]{left:74.954%;top:47.792%}
.machine-pin[data-machine="2"]{left:77.604%;top:46.320%}
.machine-pin[data-machine="3"]{left:78.708%;top:48.675%}