.machine-pin[data-machine="0"]{left:80.658%;top:46.606%}
.machine-pin[data-machine="1"]{left:79.551%;top:46.606%}
.machine-pin[data-machine="2"]{left:82.207%;top:45.130%}
.machine-pin[data-machine="3"]{left:83.314%;top:47.491%}