.machine-pin[data-machine="0"]{left:22.854%;top:46.489%}
.machine-pin[data-machine="1"]{left:23.943%;top:45.763%}
.machine-pin[data-machine="2"]{left:79.144%;top:46.489%}
.machine-pin[data-machine="3"]{left:80.233%;top:45.763%}
.machine-pin[data-machine="4"]{left:22.854%;top:55.205%}
.machine-pin[data-machine="5"]{left:23.943%;top:54.479%}
.machine-pin[data-machine="6"]{left:79.144%;top:55.205%}
.machine-pin[data-machine="7"]{left:80.233%;top:54.479%}
.machine-pin[data-machine="8"]{left:41.375%;top:48.184%}
.machine-pin[data-machine="9"]{left:77.691%;top:45.763%}
.machine-pin[data-machine="10"]{left:21.401%;top:54.479%}
.machine-pin[data-machine="11"]{left:77.691%;top:54.479%}
.machine-pin[data-machine="12"]{left:21.764%;top:49.153%}
.machine-pin[data-machine="13"]{left:21.946%;top:49.153%}
.machine-pin[data-machine="14"]{left:22.128%;top:49.153%}
.machine-pin[data-machine="15"]{left:22.309%;top:49.153%}
.machine-pin[data-machine="16"]{left:21.764%;top:48.426%}
.machine-pin[data-machine="17"]{left:78.054%;top:49.153%}
.machine-pin[data-machine="18"]{left:78.236%;top:49.153%}
.machine-pin[data-machine="19"]{left:78.417%;top:49.153%}
.machine-pin[data-machine="20"]{left:78.599%;top:49.153%}
.machine-pin[data-machine="21"]{left:78.054%;top:48.426%}
.machine-pin[data-machine="22"]{left:21.764%;top:51.089%}
.machine-pin[data-machine="23"]{left:21.946%;top:51.089%}
.machine-pin[data-machine="24"]{left:22.128%;top:51.089%}
.machine-pin[data-machine="25"]{left:22.309%;top:51.089%}
.machine-pin[data-machine="26"]{left:21.764%;top:51.816%}
.machine-pin[data-machine="27"]{left:78.054%;top:51.089%}
.machine-pin[data-machine="28"]{left:78.236%;top:51.089%}
.machine-pin[data-machine="29"]{left:78.417%;top:51.089%}
.machine-pin[data-machine="30"]{left:78.599%;top:51.089%}
.machine-pin[data-machine="31"]{left:78.054%;top:51.816%}
.machine-pin[data-machine="32"]{left:78.236%;top:48.426%}
.machine-pin[data-machine="33"]{left:78.236%;top:51.816%}
.machine-pin[data-machine="34"]{left:21.946%;top:51.816%}
.machine-pin[data-machine="35"]{left:21.946%;top:48.426%}
.machine-pin[data-machine="36"]{left:22.128%;top:48.426%}
.machine-pin[data-machine="37"]{left:22.128%;top:51.816%}
.machine-pin[data-machine="38"]{left:22.309%;top:48.426%}
.machine-pin[data-machine="39"]{left:78.417%;top:48.426%}
.machine-pin[data-machine="40"]{left:22.309%;top:51.816%}
.machine-pin[data-machine="41"]{left:78.417%;top:51.816%}
.machine-pin[data-machine="42"]{left:10.870%;top:44.795%}
.machine-pin[data-machine="43"]{left:10.870%;top:55.447%}
.machine-pin[data-machine="44"]{left:14.864%;top:43.342%}
.machine-pin[data-machine="45"]{left:21.401%;top:43.342%}
.machine-pin[data-machine="46"]{left:27.938%;top:43.342%}
.machine-pin[data-machine="47"]{left:38.470%;top:47.216%}
.machine-pin[data-machine="48"]{left:45.007%;top:47.216%}
.machine-pin[data-machine="49"]{left:59.533%;top:47.216%}
.machine-pin[data-machine="50"]{left:64.980%;top:47.216%}
.machine-pin[data-machine="51"]{left:74.786%;top:41.405%}
.machine-pin[data-machine="52"]{left:82.775%;top:41.405%}
.machine-pin[data-machine="53"]{left:90.765%;top:41.405%}
.machine-pin[data-machine="54"]{left:14.864%;top:56.900%}
.machine-pin[data-machine="55"]{left:21.401%;top:56.900%}
.machine-pin[data-machine="56"]{left:27.938%;top:56.900%}
.machine-pin[data-machine="57"]{left:38.470%;top:53.026%}
.machine-pin[data-machine="58"]{left:45.007%;top:53.026%}
.machine-pin[data-machine="59"]{left:59.533%;top:53.026%}
.machine-pin[data-machine="60"]{left:64.980%;top:53.026%}
.machine-pin[data-machine="61"]{left:74.786%;top:58.837%}
.machine-pin[data-machine="62"]{left:82.775%;top:58.837%}
.machine-pin[data-machine="63"]{left:90.765%;top:58.837%}
.machine-pin[data-machine="64"]{left:6.330%;top:44.795%}
.machine-pin[data-machine="65"]{left:6.330%;top:55.447%}
.machine-pin[data-machine="66"]{left:71.880%;top:41.889%}
.machine-pin[data-machine="67"]{left:73.333%;top:58.353%}
.machine-pin[data-machine="68"]{left:34.112%;top:57.384%}
.machine-pin[data-machine="69"]{left:34.112%;top:42.858%}
.machine-pin[data-machine="70"]{left:17.406%;top:41.405%}
.machine-pin[data-machine="71"]{left:17.406%;top:58.837%}
.machine-pin[data-machine="72"]{left:89.312%;top:40.195%}
.machine-pin[data-machine="73"]{left:89.312%;top:60.047%}
.machine-pin[data-machine="74"]{left:95.849%;top:44.311%}
.machine-pin[data-machine="75"]{left:95.849%;top:55.932%}
.machine-pin[data-machine="76"]{left:36.291%;top:45.763%}
.machine-pin[data-machine="77"]{left:36.291%;top:54.479%}
.machine-pin[data-machine="78"]{left:68.975%;top:44.795%}
.machine-pin[data-machine="79"]{left:68.975%;top:55.447%}
.machine-pin[data-machine="80"]{left:14.819%;top:41.708%}
.machine-pin[data-machine="81"]{left:21.356%;top:41.708%}
.machine-pin[data-machine="82"]{left:27.893%;top:41.708%}
.machine-pin[data-machine="83"]{left:38.424%;top:45.582%}
.machine-pin[data-machine="84"]{left:44.961%;top:45.582%}
.machine-pin[data-machine="85"]{left:59.488%;top:45.582%}
.machine-pin[data-machine="86"]{left:64.935%;top:45.582%}
.machine-pin[data-machine="87"]{left:74.740%;top:39.771%}
.machine-pin[data-machine="88"]{left:82.730%;top:39.771%}
.machine-pin[data-machine="89"]{left:90.719%;top:39.771%}
.machine-pin[data-machine="90"]{left:14.728%;top:58.292%}
.machine-pin[data-machine="91"]{left:21.265%;top:58.292%}
.machine-pin[data-machine="92"]{left:27.802%;top:58.292%}
.machine-pin[data-machine="93"]{left:38.334%;top:54.418%}
.machine-pin[data-machine="94"]{left:44.870%;top:54.418%}
.machine-pin[data-machine="95"]{left:59.397%;top:54.418%}
.machine-pin[data-machine="96"]{left:64.844%;top:54.418%}
.machine-pin[data-machine="97"]{left:74.649%;top:60.229%}
.machine-pin[data-machine="98"]{left:82.639%;top:60.229%}
.machine-pin[data-machine="99"]{left:90.628%;top:60.229%}
.machine-pin[data-machine="100"]{left:83.138%;top:48.426%}