.machine-pin[data-machine="0"]{left:57.645%;top:66.718%}
.machine-pin[data-machine="1"]{left:80.888%;top:50.408%}
.machine-pin[data-machine="2"]{left:55.199%;top:50.408%}
.machine-pin[data-machine="3"]{left:40.520%;top:43.068%}
.machine-pin[data-machine="4"]{left:40.520%;top:57.747%}
.machine-pin[data-machine="5"]{left:62.539%;top:43.068%}
.machine-pin[data-machine="6"]{left:35.627%;top:52.854%}
.machine-pin[data-machine="7"]{left:14.831%;top:30.835%}
.machine-pin[data-machine="8"]{left:14.831%;top:69.980%}
.machine-pin[data-machine="9"]{left:83.334%;top:41.437%}
.machine-pin[data-machine="10"]{left:83.334%;top:59.378%}
.machine-pin[data-machine="11"]{left:23.394%;top:69.980%}
.machine-pin[data-machine="12"]{left:23.394%;top:30.835%}
.machine-pin[data-machine="13"]{left:22.171%;top:21.865%}
.machine-pin[data-machine="14"]{left:22.171%;top:78.951%}
.machine-pin[data-machine="15"]{left:87.004%;top:39.806%}
.machine-pin[data-machine="16"]{left:87.004%;top:61.009%}
.machine-pin[data-machine="17"]{left:93.120%;top:43.884%}
.machine-pin[data-machine="18"]{left:93.120%;top:56.932%}
.machine-pin[data-machine="19"]{left:46.636%;top:25.942%}
.machine-pin[data-machine="20"]{left:46.636%;top:74.873%}
.machine-pin[data-machine="21"]{left:38.073%;top:25.942%}
.machine-pin[data-machine="22"]{left:38.073%;top:74.873%}
.machine-pin[data-machine="23"]{left:57.645%;top:50.408%}
.machine-pin[data-machine="24"]{left:35.627%;top:50.408%}
.machine-pin[data-machine="25"]{left:51.529%;top:70.796%}